html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #0a141e; /* color base */
    font-family: 'Montserrat', sans-serif;
    color: rgb(160, 249, 246);
  }

  canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }


.overlay {
    position: absolute;
    bottom: 3vh;
    left: 3vw;
    max-width: 45vw; /* ajusta para mobile */
    font-size: 1.3vw; /* escala según ancho */
    line-height: 1.4;
    opacity: 0.7;
    transition: opacity 2s ease;
    z-index: 10;
  }
  
  .overlay2 {
    position: absolute;
    bottom: 3vh;
    right: 3vw;
    max-width: 45vw;
    font-size: 1.3vw;
    line-height: 1.4;
    opacity: 0.7;
    transition: opacity 2s ease;
    z-index: 10;
  }
  
  .overlay p, .overlay2 p {
    margin: 0;
  }

  /* 📱 Mobile */
@media (max-width: 768px) {
  .overlay, .overlay2 {
    position: absolute;
    max-width: 90vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  .overlay {
    top: 5vh;
  }

  .overlay2 {
    bottom: 5vh;
  }
}